<!DOCTYPE html>
<html>

<head>
    <title>My Chrome Extension Popup</title>
    <link rel="stylesheet" type="text/css" href="_styles.css">
</head>

<body>
    <form class="flex flex-col items-center justify-center h-full w-full min-h-full card ">
        <div class="card-body flex flex-col items-center justify-center h-full w-full min-h-full space-y-3 px-4 py-5">
            <h2 class="card-title">Identify Yourself</h2>

            <div class="flex flex-col card  items-center justify-start w-full">
                <label for="tamplate" class=" w-full  my-2 text-base font-bold p-2">Proposal Tamplate
                </label>
                <textarea id="tamplate" name="tamplate" rows="10" cols="30"
                    class="border border-primary w-full rounded-2xl p-2 text-base"></textarea>
            </div>
            <div class="flex flex-col items-center justify-start w-full">
                <label for="portfolio" class=" w-full  my-2 text-base font-bold">Portfolio Links and
                    Descriptions </label>
                <textarea id="portfolio" name="portfolio" rows="10" cols="30"
                    class="border border-primary w-full rounded-2xl p-2 text-base"></textarea>
            </div>
            <div class="w-full flex flex-row justify-start">
                <button type="submit" class="btn btn-outline btn-primary ">Submit</button>
            </div>
        </div>
    </form>
</body>
<script src="sidePanel.js"></script>

</html>